#container-navbar {
    border-bottom: solid #3cb0f2;
}
.nav-link:hover {
    border-bottom: #5fa8d1 solid 2px;
}
.nav-link:active {
    color: #5fa8d1;
}
footer{
    background-color: #3175C7;
}
#image-footer{
    border-bottom: #FFFFFF solid 2px;
}
#paes-initial-section{
    color: #3175C7;
}
.modalBtn{
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.modalBtn:hover{
    background-color: #3cb0f2;
    color: #FFFFFF;
}
#recomend-btn{
    color: #3cb0f2;
}
.modalBtn:hover #recomend-btn{
    color:#FFFFFF;
}
.modal-header{
    border-bottom: none;
}
.modal-title{
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
    .nav-link:hover {
        border-bottom:none;
    }
}
