:root {
    --background-color: #F7F9FB;
    --text-color-primary: #3C3C3C;
    --text-title-color: #FFFFFF;
    --primary-color: #3175C7;
    --text-font-family: "Montserrat", sans-serif;
    --text-font: normal 400 20px/20px var(--text-font-family);
    --title-rotation: -2deg;
}