:root {
    --background-color: #F7F9FB;
    --text-color-primary: #3C3C3C;
    --text-title-color: #FFFFFF;
    --primary-color: #3175C7;
    --primary-color-rgb: 49, 117, 199;
    --bg-primary: var(--primary-color);
    --bs-primary: var(--primary-color);
    --bs-primary-rgb: var(--primary-color-rgb);
    --text-font-family: "Montserrat", sans-serif;
    --text-font: normal 400 20px/20px var(--text-font-family);
    --title-rotation: -2deg;
    --secundary-color: #5fa8d1; 
    --terciary-color: #3cb0f2; 
}